@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Work Sans", sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  --color-primary: #49352c;
  --color-accent: #49352c;
  --color-background-light: #f7f7f6;
  --color-background-soft: #f0f0ef;
  --color-border-subtle: #e5e7eb;
  --color-sidebar-bg: #49352c;
  --color-sidebar-text: #ffffff;
  
  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-primary: #f7f7f6;
  --color-background-light: #1a120f;
  --color-background-soft: #120c0a;
  --color-border-subtle: #49352c;
  --color-sidebar-bg: #1a120f;
  --color-sidebar-text: #f7f7f6;
}

@layer base {
  body {
    @apply font-display bg-background-light text-primary transition-colors duration-300;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #49352c33;
  border-radius: 10px;
}

.range-slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
  box-shadow: 0 0 0 4px color-mix(in srgb, var(--color-primary), transparent 80%);
  border: none;
  pointer-events: auto;
}

.range-slider-thumb::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
  box-shadow: 0 0 0 4px color-mix(in srgb, var(--color-primary), transparent 80%);
  border: none;
  pointer-events: auto;
}

/* Hide browser-specific password reveal and clear icons */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Safari specific for the key/autofill icon */
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
